
@model eMobile.Models.ViewModels.ProductVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Create Product";
}

<form method="post" enctype="multipart/form-data">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Product.Id != 0)
        {
            //edit
            title = "Edit Product";
            <input type="hidden" asp-for="Product.Id" />
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.Name" class="form-control" />
                    <span asp-validation-for="Product.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    Brand
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Product.BrandId, Model.BrandList, "--Select a Brand", new { @class = "form-control" })
                    <span asp-validation-for="Product.BrandId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    Operating System
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Product.OpSystemId, Model.OpSystemList, "--Select a Operatin System", new { @class = "form-control" })
                    <span asp-validation-for="Product.OpSystemId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.Weight"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.Weight" class="form-control" />
                    <span asp-validation-for="Product.Weight" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.Resolution"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.Resolution" class="form-control" />
                    <span asp-validation-for="Product.Resolution" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.Dimensions"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.Dimensions" class="form-control" />
                    <span asp-validation-for="Product.Dimensions" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.DisplaySize"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.DisplaySize" class="form-control" />
                    <span asp-validation-for="Product.DisplaySize" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.CPU"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.CPU" class="form-control" />
                    <span asp-validation-for="Product.CPU" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.RomMemory"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.RomMemory" class="form-control" />
                    <span asp-validation-for="Product.RomMemory" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Product.Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.Price" class="form-control" />
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    Cover Image
                </div>
                <div class="col-8">
                    <input multiple type="file" name="files" id="uploadBox" multiple class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    Images
                </div>
                <div class="col-8">
                    <input multiple="multiple" type="file" name="photos" id="uploadBox" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Product.Id != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.Product.Id" />
                    }
                    else
                    {
                        <div class="row">
                            <div class="col">
                                <button type="submit" onclick="return validateInput()" class="btn btn-primary form-control">Create</button>
                            </div>
                            <div class="col">
                                <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        @if (Model.Product.Id != 0 )
        {
            <div class="col-3 offset-1 pt-4">
                <img src="@Model.Product.FileUrl" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
            </div>
        }
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />


<script>
    function validateInput() {
        if (document.getElementById("uploadBox").value == "") {
            swal("error", "Please select an image", "error");
            return false;
        }
        return true;
    }
</script>
}

